.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 2px rgba(153,153,153,1);
}

#input, #inputOne, #inputTwo {
  border: 1.5px solid rgb(85, 172, 212);
  height: 70px;
  width: 400px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  border: 0.5px solid rgb(85, 172, 212);
  line-height: 85px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  color: rgb(59, 167, 59);
  transition: 0.1s ease-in-out;
}

#equal {
  background-color: rgb(85, 172, 212);
  color: white;
}