body {
    background-image: url("https://t3.ftcdn.net/jpg/00/74/04/66/360_F_74046684_nfxl9VtPQwuTAqahg59AclumPaSVCtQp.jpg");
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 2px rgba(153,153,153,1);
  border-radius: 25px;
}

.display {
  border-radius: 25px 25px 0px 0px ;
}

#input {
  background-color: rgb(225, 240, 247);
  border: 1.5px solid rgb(85, 172, 212);
  height: 70px;
  width: 400px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 0px 0px 25px 25px;
}

.button {
  border: 0.5px solid rgb(85, 172, 212);
  line-height: 85px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  color: rgb(59, 167, 59);
  transition: 0.1s ease-in-out;
}

#divide, #multiply, #add, #subtract {
  background-color: rgb(250, 178, 139);
}

#backspace, #clearHistory, #clear {
  background-color: rgb(175, 173, 173);
}

#equal {
  background-color: rgb(85, 172, 212);
  border-radius: 0px 0px 25px 0px;
  color: white;
}

#zero {
  border-radius: 0px 0px 0px 25px
}

#history {
  margin-top: 25px;
}

#mathHistory {
  display: table;
  margin: 0 auto;
  font-size: 25px;
}